body{
    font-size: 18px;
    text-align: justify;
}.navbar{
    margin-bottom: 0px !important;
}
h1{
    font-size: 22px;
    font-weight: bold;
    color: #1E90FF;
}
.first_letter{
    float:left;
    width:0.76em;
    font-size: 200%;
    line-height: 50%;
    color: #1E90FF;
}
.sub_title{
    color:#fff;
    background: linear-gradient(to right, #0F5A78 , #B9EBFF);
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}
.panel-default>.panel-heading{
    background-color: #fff;
    font-size: 22px;
    color: #1E90FF;
}
.panel-heading a{
    text-decoration: none;
}